{% extends 'header.html' %}
{% load static %}
{% block content %}

<center>
	<br><br>
	<a href="{% url 'seller_login' %}">
	<h3>Login Now</h3>
	</a>
	<br><br>
	<form action="{% url 'seller_login' %}" method="post">
		{% csrf_token %}
		<b>{{msg}}</b>
		<br>
        <p>
            <b> Email Address </b>  
            <input type="email" placeholder="Enter Your Register Email" name="email" required=""> 
        </p>
		<br>
        <p>
            <b> Password </b>
            <input type="text" placeholder="Enter Your Password" name="password" required="">
        </p>

		<br><br>
		<input type="submit" value="Log In">
		<br><br>
		<a href="{% url 'forgot_password' %}">
			<b>Forgot Password !!</b>
			</a>
	</form>
</center>

{% endblock %}